@page
@model CoreWebApplication1.Pages.Restaurants.ListModel
@{
}
<h1>Restaurants</h1>

<p>@Model.Message</p>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" type="search" asp-for="SearchTerm" />
            <button class="btn btn-dark" type="submit"><i class="glyphicon glyphicon-search"></i>Search</button>
        </div>
    </div>
</form>
<div>
    <a asp-page="./edit" class="btn btn-dark">Add New</a>
</div>
<table class="table">
    @foreach(var item in Model.Restaurants)
    {
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.CType</td>
        <td>
            <a asp-page="./Detail" asp-route-id="@item.Id"><i class="glyphicon glyphicon-zoom-in"></i></a>
        </td>
        <td>
            <a asp-page="./Edit" asp-route-id="@item.Id"><i class="glyphicon glyphicon-edit"></i></a>
        </td>
    </tr>
    }
</table>
